::-moz-selection  {
background: #F2E314;
color: black;
}
::selection   {
background: #F2E314;
color: black;
}

Body
{
  color: #121212;
  font-family: 'Gotham'
}


#Federico
{position: absolute;
top:50%;
right:50%;
transform: translate(50%)
}

#Menu

{
  padding-left: 28%;
  padding-top: 50px;
  animation: fadein 1s;
}



@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

a
{font-family: 'Gotham';
font-weight: bold;
font-size: 50px;
line-height: 40px;
transition: 0.1s;
color: #121212;
text-decoration:none;
}

a:hover
{transform: translateX(30px);
transition: 0.1s;
color: #ffe538;
transition: 0.1s;
}
