
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;    margin: 0;
}

a{
	text-decoration:none;
  color: #121212;
}
table {
    border-spacing: 0;
}
fieldset, {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}



q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
::-moz-selection  {
background: #F2E314;
color: black;
}
::selection   {
background: #F2E314;
color: black;
}

/* Custom CSS
 * --------------------------------------- */


@keyframes fadeIn {
  From {opacity: 0

  }
  To {
    opacity:1
  }

}
@keyframes fadeOut {
  From {opacity: 1

  }
  To {
    opacity:0
  }

}


.section{
	text-align: center;
}

/* others */

#loader{
 background: #FFF;
 opacity: 1;
 position: fixed;
   z-index:10;
 top: 0px;
 width: 100%;
 height: 100%;
}

#loader img
{
 position: absolute;
 transform: translate(-50%,-50%);
 top:50%;
 left:50%;
 width: 250px
}

#close {
    color: white;
    display: block;
    position: fixed;
    top: 36px;
    right: 46px;
    z-index: 100;
    transform: scale(0.5);
    fill: #fff
}

 Body
 {
   color: #FFF;
   font-family: 'Gotham';
   animation: fadeIn 1s;
     cursor: default
 }


 #section2, #section4, #section6
 {background-color: Yellow;
   background-image: linear-gradient(-90deg, #e95fbe, #ff4539);
 }




/* Section 1
 * --------------------------------------- */

#section1 {
background-image: url(../img/indiependenti.jpg);
background-repeat: no-repeat;
background-size: 100%
}

#section1 h1 {
  font-size: 75px;
  line-height: 30px;
  text-align: left;
  position: relative;
  left: 150px;
  animation: fadeIn 2s
}


/* Section 2
 * --------------------------------------- */

#section2

{
  background-image: url(../img/car.gif);
  background-repeat: no-repeat;
  background-size: 100%

}


#section2 h1, #section3 h1{
  font-weight: bold;
  animation: fadeIn 1s;
  font-size: 30px;
}

/* Section 3 */

#section3 p{
  font-size: 20px;
  line-height: 17px;
}

#section3
{
  background-image: url(../img/crowd.gif);
  background-repeat: no-repeat;
  background-size: 100%
}




/* Section 4
 * --------------------------------------- */

 #section4 h1
 {
     font-weight: bold;
     font-size: 40px;
   }

#section4 img{
  width: 40px

}
#section4 p{
 	font-size: 17px;
  font-weight: 400;
  line-height: 20px
 }


/* Section 5 */

#section5
{
  background-image: linear-gradient(-90deg, #e95fbe, #ff4539);
}

#section5 h1{
  font-size: 40px;
  line-height: 30px
}

#section5 h2
{
  font-size: 35px;
  line-height: 0px;
  transition: 0.3s
}
#section5 h2:hover{
  transform: scale(1.2)
}

#section5 h3
{
  font-size: 25px
}
#section5 p
{ cursor: pointer;
  font-size: 17px;
  transition: 0.3s
}

#section5 p:hover{
  transform: scale(1.1)
}

#testo2
{
  position: absolute;
  right: 30%;
  top: 20%;
}
#testo {
  position: absolute;
  left: 30%;
  top: 20%;
}
#facebook
{
  height: auto;
}
#instagram
{

  height: auto;
  position: relative;
  right: 70px;
}
.icona
{   width:75px;
    transition: 0.3s
}
.icona:hover{
  transform: scale(1.1)
}
#gruppo
{
  height: auto;
  position: relative;
  left: 70px;
}

.nascondi{
  animation: fadeOut 1s;
  display:none;
}
.animazione
{
  animation: fadeIn 1s
}



/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
