
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;    margin: 0;
}

a{
	text-decoration:none;
  color: #FFFFFF;
}
table {
    border-spacing: 0;
}
fieldset, {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}



q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
::-moz-selection  {
background: #F2E314;
color: black;
}
::selection   {
background: #F2E314;
color: black;
}

/* Custom CSS
 * --------------------------------------- */

 @keyframes fadeIn {
   From {opacity: 0

   }
   To {
     opacity:1
   }

 }

.section{
	text-align: center;
}


 Body
 {
   color: #FFF;
   font-family: 'Gotham';
   animation: fadeIn 1s;
     cursor: default

 }

 /* others */

 #loader{
  background: #FFF;
  opacity: 1;
  position: fixed;
    z-index:10;
  top: 0px;
  width: 100%;
  height: 100%;
 }

 #loader img
 {
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  width: 250px
 }
 #close {
     color: white;
     display: block;
     position: fixed;
     top: 36px;
     right: 46px;
     z-index: 100;
     transform: scale(0.5);
     fill: #FFF
 }




 #section1#section2,#section3,#section4,#section5,
 {background-color: white;
 }




/* Section 1
 * --------------------------------------- */

 #section1 {
 background-image: url(../img/pipool.jpg);
 background-repeat: no-repeat;
 background-size: 100%
 }

 #section1 img {
   width:300px
 }


/* Section 2
 * --------------------------------------- */

 #section2
 {
   background-image: linear-gradient(-90deg, #ecff2b, #f6bd48);

 }
 #section2 h1
 {
     font-weight: bold;
     font-size: 50px;
   }

}
#section2 p{
   font-size: 20px;
  font-weight: 400;
  line-height: 20px
 }

 #section2 img{
   width: 40px

 }

 /* Section 3
  * --------------------------------------- */

 #section3
 {
   background-image: linear-gradient(-90deg, #ecff2b, #f6bd48);

 }

 #section3 h1
 {
   font-size: 70px;

   margin-top: 15vh;
   line-height: 25px
 }



 #scroll-container {
font-family: 'Gotham';
  overflow: hidden;
  max-width: 100%;
  margin: auto;
  height: 25vh;
  top: 5vh;
  position: relative;
  min-height: 200px;
}

.wrap-container {
  position: relative;
  max-height: 200px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  /* background: #eee; */
  overflow: auto;
  padding-right: 20px;
  mask: url(#masking);
}
.wrap-container ul {
  list-style: none;
  position: relative;
  transition: transform .3s;
  top: 50px;
}

.wrap-container ul, .wrap-container ul li {
  margin: 0;
  padding: 0;
  text-align: center;
}

.wrap-container ul li {
  color:black;
  height: 50px;
  line-height: 50px;
  transition: transform .3s;
  overflow: hidden;
}

.wrap-container ul li:last-of-type { padding-bottom: 50px; }

.wrap-container ul li.active .item { transform: scale(1.9); }

.wrap-container ul li .item {
  position: relative;
  transition: transform 200ms;
  display: inline-block;
}

/* Section 4
 * --------------------------------------- */


#section4
{
  background-image: linear-gradient(-90deg, #ecff2b, #f6bd48);

}

#section4 h2
{
  font-size: 50px;
  line-height: 0px;
  transition: 0.3s
}
#section4 h2:hover{
  transform: scale(1.1)
}

#section4 h3
{
  font-size: 30px
}
#section4 p
{ cursor: pointer;
  font-size: 20px;
}



.nascondi{
  display:none;
}
.animazione
{
  animation: fadeIn 1s
}

#section5{
  background-color: white;
   background-size: 100%
}



 #elenco
 {box-sizing: border-box;
display: flex;
 justify-content: center;
 flex-wrap: wrap;
 outline: none
   }

 .logo{
     height: auto;
     width: auto;
     max-height: 60px;
     margin:60px;
     filter: grayscale(100%);
     transition: 0.5s
   }

 .logo:hover{
     filter:none;
   }

.nascondi
{display: none}






/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
