
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;    margin: 0;
}

a{
	text-decoration:none;
  color: #121212;
}
table {
    border-spacing: 0;
}
fieldset, {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}



q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
::-moz-selection  {
background: #F2E314;
color: black;
}
::selection   {
background: #F2E314;
color: black;
}

/* Custom CSS
 * --------------------------------------- */

@keyframes fadeIn {
  From {opacity: 0

  }
  To {
    opacity:1
  }

}


.section{
	text-align: center;
}


 Body
 {
   color: #FFF;
   font-family: 'Gotham';
   animation: fadeIn 1s;
     cursor: default
 }

 #loader{
  background: #FFF;
  opacity: 1;
  position: fixed;
    z-index:10;
  top: 0px;
  width: 100%;
  height: 100%;
 }

 #loader img
 {
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  width: 250px
 }
 #close {
     color: white;
     display: block;
     position: fixed;
     top: 36px;
     right: 46px;
     z-index: 100;
     transform: scale(0.5);
     fill: #fff
 }




 #section1#section2,#section3,#section4,#section5,
 {background-color: white;
 }




/* Section 1
 * --------------------------------------- */

#section1 {
background-image: url(../img/superuovo.jpg);
background-repeat: no-repeat;
background-size: 100%
}

 #scroll {
     position: absolute;
     top: 87%;
     right:-95px;
     transform: translate(-50%,-50%);
     height: 150px;
     width: auto;
 }

#section1 h1 {
  font-size: 80px;
  line-height: 30px;
  text-align: left;
  position: relative;
  left: 200px;
  animation: fadeIn 2s
}


/* Section 2
 * --------------------------------------- */

/* Section 4
 * --------------------------------------- */
#section2
{
   background-image: linear-gradient(-90deg, #5995c3, #007a4c);
}
#bloccotesto
{
  position: fixed;
  left: 30vw;
  top: 50vh;
  transform: translate(-50%,-50%);

}
 #section2 h1
 {   left:30%;
     font-weight: bold;
     font-size: 40px;
   }


#section2 img{
  width: 400px;
  position: fixed;
  left: 75vw;
  top: 58vh;
  transform: translate(-50%,-50%);
  animation: float 2s ease-in-out infinite
}
@keyframes float {
	0% {
		transform: translate(-50%,-50%);
	}
	50% {

		transform: translate(-50%,-70%);
	}
	100% {

		transform: translate(-50%,-50%);
	}
}
#section2 p{
 	font-size: 18px;
  font-weight: 400;
  line-height: 20px
 }



/* Section 5 */

#section3
{
   background-image: linear-gradient(-90deg, #5995c3, #007a4c);
}

#section3 h1{
  font-size: 40px;
  line-height: 30px
}

#section3 h2
{
  font-size: 35px;
  line-height: 0px;
  transition: 0.3s
}
#section3 h2:hover{
  transform: scale(1.2)
}

#section3 h3
{
  font-size: 25px
}
#section3 p
{ cursor: pointer;
  font-size: 17px;
  transition: 0.3s
}

#section3 p:hover
{transform: scale(1.1);}

#testo2
{
  position: absolute;
  right: 30%;
  top: 20%;
}
#testo {
  position: absolute;
  left: 30%;
  top: 20%;
}

#section4
{
   background-image: linear-gradient(-90deg, #5995c3, #007a4c);
}
#facebook
{
  height: auto;
}
#instagram
{
  height: auto;
  position: relative;
  right: 70px;
}

#gruppo
{
  height: auto;
  position: relative;
  left: 70px;
}

.icona
{   width:75px;
    transition: 0.3s
}
.icona:hover{
  transform: scale(1.1)
}


.nascondi{
  display:none;
}
.animazione
{
  animation: fadeIn 1s
}





/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
